* {
    padding: 0;
    margin: 0;
    background: black;
}


#myCanvas {
    background-color: pink;
    width: 100%;
    height: 100%;
    display: none;
}

.main_menu {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    background-color: white;
    padding: 10% 0;
    overflow: auto;
}

.game_title p {
    background-color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main_menu_elem {
    width: 60%;
    text-align: center;
    margin: 7% auto;
    border-radius: 19px;
}

.main_menu_elem button {
    width: 100%;
    color: white;
    padding: 10% 7%;
    font-weight: bold;
    font-size: 19px;
    border-radius: 19px;
}